body{
	margin: 0;
}

a{text-decoration: none; color: #000;margin: 5px;}
li{display: inline-block; color: #555;}

.screen{
	background-image: url(../img/fond.png);
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 650px;

}

.header img{margin: 0 5px;}
.number_text{text-align: left;font-size: 0.5em;}
.header_menu{text-align: right; }

.header{
	//text-align: left;
	display: inline-block;
	//width: 50%;
	margin: 10px 20px;
	font-size: 1em;
}

.menu{	margin: 15px;}

.menu_ots{
	//margin: 5px;
}

.number{
	width: 30%;
	font-size: 1em;
}

.signature{	font-size: 0.5em;}

.head_content{	text-align: center;}

.sea_walks{font-size: 2em; margin: 15px;}
.sea{font-size: 4em; margin: 15px;}

.line img{position: absolute;}

.button_cruise{height: 47px; width: 200px; color: #fff; background-color: #33c7fd; border: none;}

.wrapper{
	max-width: 1140px;
}

.catalog_fond{background: #f3f3f3;}
.catalog_color{background: #fff;}

.disp{display: inline-block; width: 100%;}
.marg{height: 628px; width: 48%; background: #fff; }

.anapa{height: 628px; width: 48%; background: #fff;}
.excursion{height: 323px; width: 100%; background: #fff; }
.gelendzhik{height: 323px; width: 100%;background: #fff;}
.novorossiysk{height: 408px; width: 48%;background: #fff;}
.abraudurso{height: 408px; width: 48%;background: #fff;}

.anapa_img{height: 438px; width: 100%;}
.excursion_img{height: 114px; width: 100%;}
.gelendzhik_img{height: 114px; width: 100%;}
.novorossiysk_img{height: 222px; width: 100%;}
.abraudurso_img{height: 222px; width: 100%;}

.headline{color: #33c7fd;}
.cross_out{display: inline;}
.left{text-align: left;}
.money{font-size: 1.5em;}
.nmoney{font-size: 1em; color: #575147;}
.center{text-align: center;}

.basement{display: inline-block;}

.bl{float: left;}
.br{float: right;}
.ta{text-align: left;}

@media screen and (max-width: 720px){
	.wrapper{
		width: 30%;
	}
}
@media screen and (max-width: 290px){
	.wrapper{
		width: 80%;
	}
}